<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Home' %>


<div class="container-fluid">
  <div class="row-fluid">
    <a href="#" class="btn btn-xlarge btn-warning disabled">Crea men첫</a>
    <a href="#" class="btn btn-xlarge btn-warning disabled">Cerca men첫</a>
    <a href="#" class="btn btn-xlarge btn-warning disabled">I miei men첫</a>

    <div class="row-fluid">
      <div class="span12">
        <h3>Men첫 del giorno</h3>

        <div class="span10">
          <%= image_tag("menu.png") %>
        </div>
      </div>
    </div>
  </div>
</div>