<% #Provide the page title in a symbol to application.html.erb to avoid duplication  %>
<% provide :title, 'Domande frequenti' %>

<h1>Domande frequenti</h1>
<p>CookBook è un social network di cucina e in questa pagina verranno inserite tutte le vostre domande</p>




