<% provide :title, 'Risultati ricerca' %>

<h1>Risultati trovati</h1>

<div class="container-fluid">
  <!--Pagina di visualizzazione di tutte le ricette cercate tramite ricerca avanzata-->
  <%= render @search.recipes %>
</div>